<a href="https://colab.research.google.com/github/camrobertson/FDA_SupplementModel/blob/master/FDA_sup_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ML analysis to predict timing/nature of supplements following BLA/NDA submission

Input from drugs@fda.com
Highlight variables BLA/NDA, Date of Submission,, Therapeutic Area (review division), priority review, breakthrough therapy, accelerated approval
See what happens (start w/ RFS)

In [0]:
# Install the PyDrive wrapper & import libraries.
# This only needs to be done once per notebook.
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from google.colab import files
from oauth2client.client import GoogleCredentials

import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib as mpl #only needed to determine Matplotlib version number
import csv

In [0]:
# Authenticate and create the PyDrive client.
# This only needs to be done once per notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

In [0]:
#works to import data
Products_df = pd.read_csv('/content/gdrive/My Drive/FDA_data/target/Products.txt', '\t', low_memory = False, error_bad_lines = False, encoding = "utf8")
Products_df.describe()
Products_df

In [0]:
#works to import data
Submissions_df = pd.read_csv('/content/gdrive/My Drive/FDA_data/target/Submissions.txt', '\t', low_memory = False, error_bad_lines = False, encoding='ISO-8859-1')
Submissions_df.describe()

In [0]:
#works to import data
Applications_df = pd.read_csv('/content/gdrive/My Drive/FDA_data/target/Applications.txt', '\t', low_memory = False, error_bad_lines = False, encoding='ISO-8859-1')
Applications_df.describe()

In [0]:
Master_df = Submissions_df.set_index('ApplNo').join(Applications_df.set_index('ApplNo'))

In [0]:
Master_df['SubmissionType'] = Master_df['SubmissionType'].map({'ORIG': 0, 'SUPPL': 1})

In [0]:
Master_df['ApplType'] = Master_df['ApplType'].map({'NDA': 0, 'BLA': 1})

In [0]:
Master_df.fillna(0, inplace = True)

In [0]:
Master_df['SubmissionClassCodeID', 'ApplType', 'ReviewPriority'] = Master_df['SubmissionClassCodeID', 'ApplType', 'ReviewPriority'].astype(int)

In [0]:
Master_df['ApplType'] = Master_df['ApplType'].astype(int)

In [0]:
Master_df['SubmissionClassCodeID'] = Master_df['SubmissionClassCodeID'].astype(int)

In [0]:
Master_df['ReviewPriority'] = Master_df['ReviewPriority'].astype(int)

In [0]:
Master_df

In [0]:
Master_df['SubmissionType'] = Master_df['SubmissionType'].map({'ORIG': 0, 'SUPPL': 1})

In [114]:
Submissions_df

        ApplNo  SubmissionClassCodeID  ... SubmissionsPublicNotes  ReviewPriority
0            4                   19.0  ...                    NaN         UNKNOWN
1            4                    3.0  ...                    NaN             NaN
2            4                    3.0  ...                    NaN             NaN
3          159                    NaN  ...                    NaN             NaN
4          159                    3.0  ...                    NaN             NaN
5          159                    3.0  ...                    NaN             NaN
6          415                    NaN  ...                    NaN             NaN
7          552                   19.0  ...                    NaN         UNKNOWN
8          552                   21.0  ...                    NaN             NaN
9          552                   21.0  ...                    NaN             NaN
10         552                    4.0  ...                    NaN             NaN
11         552                    4.0  ...                    NaN             NaN
12         552                    3.0  ...                    NaN             NaN
13         552                    3.0  ...                    NaN             NaN
14         552                    4.0  ...                    NaN             NaN
15         552                    4.0  ...                    NaN             NaN
16         552                    3.0  ...                    NaN             NaN
17         552                    2.0  ...                    NaN             NaN
18         552                    4.0  ...                    NaN             NaN
19         552                    4.0  ...                    NaN             NaN
20         552                    4.0  ...                    NaN             NaN
21         552                    3.0  ...                    NaN             NaN
22         552                    4.0  ...                    NaN             NaN
23         734                    NaN  ...                    NaN             NaN
24         734                    4.0  ...                    NaN             NaN
25         740                    NaN  ...                    NaN             NaN
26         763                    NaN  ...                    NaN             NaN
27         767                    NaN  ...                    NaN             NaN
28         793                   19.0  ...                    NaN         UNKNOWN
29         793                    4.0  ...                    NaN             NaN
...        ...                    ...  ...                    ...             ...
148941  761042                   19.0  ...                    NaN        STANDARD
148942  761042                    3.0  ...                    NaN        STANDARD
148943  761043                   12.0  ...                    NaN        STANDARD
148944  761044                   12.0  ...                    NaN        STANDARD
148945  761046                    7.0  ...                    NaN        PRIORITY
148946  761047                    7.0  ...                    NaN        PRIORITY
148947  761049                    7.0  ...                    NaN        PRIORITY
148948  761049                    3.0  ...                    NaN        STANDARD
148949  761049                    3.0  ...                    NaN        STANDARD
148950  761052                    7.0  ...                    NaN        PRIORITY
148951  761053                    7.0  ...                    NaN        PRIORITY
148952  761053                    3.0  ...                    NaN        STANDARD
148953  761054                   15.0  ...                    NaN        STANDARD
148954  761055                    7.0  ...                    NaN        PRIORITY
148955  761055                    3.0  ...                    NaN        STANDARD
148956  761058                    9.0  ...                    NaN        STANDARD
148957  761060                   14.0  ...                    NaN        STANDARD
148958  761060                   19.0  ...                    NaN        STANDARD
148959  761061                    7.0  ...                    NaN        PRIORITY
148960  761064                   15.0  ...                    NaN        STANDARD
148961  761064                   15.0  ...                    NaN        STANDARD
148962  761065                    7.0  ...                    NaN        PRIORITY
148963  761067                    7.0  ...                    NaN        STANDARD
148964  761069                    7.0  ...                    NaN        PRIORITY
148965  761069                    2.0  ...                    NaN        PRIORITY
148966  761070                    7.0  ...                    NaN        STANDARD
148967  761072                   15.0  ...                    NaN        STANDARD
148968  761074                   19.0  ...                    NaN        STANDARD
148969  761078                   25.0  ...                    NaN        PRIORITY
148970  761083                    7.0  ...                    NaN        PRIORITY

[148971 rows x 8 columns]

In [102]:
list(Master_df.columns)

['SubmissionClassCodeID',
 'SubmissionType',
 'SubmissionNo',
 'SubmissionStatus',
 'SubmissionStatusDate',
 'SubmissionsPublicNotes',
 'ReviewPriority',
 'ApplType',
 'ApplPublicNotes',
 'SponsorName']